body {
    display: block;
    min-height: 100vh;
    flex-direction: column;
    color: darkcyan;
}
main {
    flex: 1 0 auto;
}

/*blog posts*/
    
.blog post {
    margin-bottom: 50px;
    
}

.blog-post-title {
    margin-bottom: 2px;
    font-size: 44px;
    
}

.blog post meta {
    margin-bottom: 15px;
    color: #888;
    font-style: normal;
}

header {
    color: darkmagenta;
}